body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  


.banner-container {
    display: flex;
    justify-content:space-between;
    height: 900px;
    padding-bottom: 100px;
    

}

.banner {
    text-align: center;
    align-content:start;
    margin-left: 80px;
    padding: 0px 10px 0px 10px;
    border-radius: 200px;
    margin-top: 150px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: linear-gradient(-135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    flex-wrap: wrap;

}



.banner img { 
    margin-top:1rem;                     
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    
}
 


.banner-right {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: center;
     flex-direction: column;
     margin-right: 200px;
     font-size: 40px;
     margin-left: 50px;
     width: 650px;
}

.banner-right p {
    font-size: 22px;
    font-family: "Antic Slab", serif;
    font-weight: 600;
    font-style: normal;
      
}

.banner ul {
    list-style: none; /* Remove default bullet points */
    padding: 0;
}

.banner li {
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 20px;
    
}

.logos {
    padding-top: 20px;
    flex-wrap: wrap;

}

.logos svg {

    margin-right: 20px;
    
    
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width: 1200px) {
    .portfolio-container {
        flex-direction: column;
        align-items: center;
    }

    .portfolio-container img {
        width: 80%;
        height: auto;
    }

    .portfolio-text1 {
        margin-left: 0;
        text-align: center;
    }

    .banner-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .portfolio-container img {
        width: 100%;
        height: auto;
    }

    .portfolio-text1 {
        font-size: 1.2rem;
    }

    .banner-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
     
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 50% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

      
    @media screen and (max-width: 480px) {
        .banner {
            margin-left: 0;
            margin-top: 3rem;
            padding: 0px;
            border-radius: 0;
            height: auto;
        }

        .banner-container {
            flex-direction: column;
            align-items: center;
            margin-bottom: 2rem; /* Ensure space between banner and main content */
            width: 100%; /* Ensure the container takes full width */
            padding: 0 10px; /* Add padding to ensure content is not touching the edges */
            box-sizing: border-box; /* Include padding in the element's total width and height */
        }
    
        .banner-right {
            margin-right: 0;
            margin-bottom: 1rem;
            margin-left: 0;
            width: 100%; /* Ensure the container takes full width */
            padding: 0 10px; /* Add padding to ensure content is not touching the edges */
            box-sizing: border-box; /* Include padding in the element's total width and height */
        }
    
        h2 {
            display: none; /* Hide h2 element */
        }
    
        .logos {
            display: flex;
            padding-top: 1rem;
            width: 100%; /* Ensure the container takes full width */
            box-sizing: border-box; /* Include padding in the element's total width and height */
        }
    }


}   